# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Streamlit cache
.streamlit/
.cache/
cache/

# OS files
.DS_Store
Thumbs.db

# Python packaging
*.egg-info/
.dist/
build/

# IDE
.vscode/
.idea/